$split-weight: 70%;
$board-margin: 5%;
$navbar-height: 50px;

.board-panel {
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 100% - $split-weight;
    bottom: 0;
}

.side-panel {
    position: absolute;
    top: $navbar-height;
    left: $split-weight;
    right: 0;
    bottom: 0;
    background: #ddd;
}

@media screen and (max-aspect-ratio: 1/1) {
    .board-panel {
        right: 0;
        bottom: 100% - $split-weight;
    }

    .side-panel {
        // Could add navbar-height via calc(), but that would remove support
        // for some browsers (mostly android ones).
        top: $split-weight;
        left: 0;
    }
}

#board {
    position: absolute;
    // Sets a minimum margin based on the relative dimension!
    // So left/right: width, top/bottom: height
    // Note that this is different that the default margin behaviour
    top: $board-margin;
    left: $board-margin;
    height: 100% - 2*$board-margin;
    width: 100% - 2*$board-margin;
}
