<html>
<head>
    <link rel="stylesheet" href="/styles/chess.css">
</head>
<body>
    <svg id="board" viewBox="0 0 800 800">
        <defs>
            <rect id="light_field" width="100" height="100"/>
            <rect id="dark_field" width="100" height="100"/>
            <image id="bishop_dark" width="90" height="90" xlink:href="svg/bishop_dark.svg"/>
            <image id="bishop_light" width="90" height="90" xlink:href="svg/bishop_light.svg"/>
            <image id="king_dark" width="90" height="90" xlink:href="svg/king_dark.svg"/>
            <image id="king_light" width="90" height="90" xlink:href="svg/king_light.svg"/>
            <image id="knight_dark" width="90" height="90" xlink:href="svg/knight_dark.svg"/>
            <image id="knight_light" width="90" height="90" xlink:href="svg/knight_light.svg"/>
            <image id="pawn_dark" width="90" height="90" xlink:href="svg/pawn_dark.svg"/>
            <image id="pawn_light" width="90" height="90" xlink:href="svg/pawn_light.svg"/>
            <image id="queen_dark" width="90" height="90" xlink:href="svg/queen_dark.svg"/>
            <image id="queen_light" width="90" height="90" xlink:href="svg/queen_light.svg"/>
            <image id="rook_dark" width="90" height="90" xlink:href="svg/rook_dark.svg"/>
            <image id="rook_light" width="90" height="90" xlink:href="svg/rook_light.svg"/>
        </defs>
        <use id="field_0" x="0" y="700" xlink:href="#dark_field"/>
        <use id="field_1" x="0" y="600" xlink:href="#light_field"/>
        <use id="field_2" x="0" y="500" xlink:href="#dark_field"/>
        <use id="field_3" x="0" y="400" xlink:href="#light_field"/>
        <use id="field_4" x="0" y="300" xlink:href="#dark_field"/>
        <use id="field_5" x="0" y="200" xlink:href="#light_field"/>
        <use id="field_6" x="0" y="100" xlink:href="#dark_field"/>
        <use id="field_7" x="0" y="0" xlink:href="#light_field"/>
        <use id="field_8" x="100" y="700" xlink:href="#light_field"/>
        <use id="field_9" x="100" y="600" xlink:href="#dark_field"/>
        <use id="field_10" x="100" y="500" xlink:href="#light_field"/>
        <use id="field_11" x="100" y="400" xlink:href="#dark_field"/>
        <use id="field_12" x="100" y="300" xlink:href="#light_field"/>
        <use id="field_13" x="100" y="200" xlink:href="#dark_field"/>
        <use id="field_14" x="100" y="100" xlink:href="#light_field"/>
        <use id="field_15" x="100" y="0" xlink:href="#dark_field"/>
        <use id="field_16" x="200" y="700" xlink:href="#dark_field"/>
        <use id="field_17" x="200" y="600" xlink:href="#light_field"/>
        <use id="field_18" x="200" y="500" xlink:href="#dark_field"/>
        <use id="field_19" x="200" y="400" xlink:href="#light_field"/>
        <use id="field_20" x="200" y="300" xlink:href="#dark_field"/>
        <use id="field_21" x="200" y="200" xlink:href="#light_field"/>
        <use id="field_22" x="200" y="100" xlink:href="#dark_field"/>
        <use id="field_23" x="200" y="0" xlink:href="#light_field"/>
        <use id="field_24" x="300" y="700" xlink:href="#light_field"/>
        <use id="field_25" x="300" y="600" xlink:href="#dark_field"/>
        <use id="field_26" x="300" y="500" xlink:href="#light_field"/>
        <use id="field_27" x="300" y="400" xlink:href="#dark_field"/>
        <use id="field_28" x="300" y="300" xlink:href="#light_field"/>
        <use id="field_29" x="300" y="200" xlink:href="#dark_field"/>
        <use id="field_30" x="300" y="100" xlink:href="#light_field"/>
        <use id="field_31" x="300" y="0" xlink:href="#dark_field"/>
        <use id="field_32" x="400" y="700" xlink:href="#dark_field"/>
        <use id="field_33" x="400" y="600" xlink:href="#light_field"/>
        <use id="field_34" x="400" y="500" xlink:href="#dark_field"/>
        <use id="field_35" x="400" y="400" xlink:href="#light_field"/>
        <use id="field_36" x="400" y="300" xlink:href="#dark_field"/>
        <use id="field_37" x="400" y="200" xlink:href="#light_field"/>
        <use id="field_38" x="400" y="100" xlink:href="#dark_field"/>
        <use id="field_39" x="400" y="0" xlink:href="#light_field"/>
        <use id="field_40" x="500" y="700" xlink:href="#light_field"/>
        <use id="field_41" x="500" y="600" xlink:href="#dark_field"/>
        <use id="field_42" x="500" y="500" xlink:href="#light_field"/>
        <use id="field_43" x="500" y="400" xlink:href="#dark_field"/>
        <use id="field_44" x="500" y="300" xlink:href="#light_field"/>
        <use id="field_45" x="500" y="200" xlink:href="#dark_field"/>
        <use id="field_46" x="500" y="100" xlink:href="#light_field"/>
        <use id="field_47" x="500" y="0" xlink:href="#dark_field"/>
        <use id="field_48" x="600" y="700" xlink:href="#dark_field"/>
        <use id="field_49" x="600" y="600" xlink:href="#light_field"/>
        <use id="field_50" x="600" y="500" xlink:href="#dark_field"/>
        <use id="field_51" x="600" y="400" xlink:href="#light_field"/>
        <use id="field_52" x="600" y="300" xlink:href="#dark_field"/>
        <use id="field_53" x="600" y="200" xlink:href="#light_field"/>
        <use id="field_54" x="600" y="100" xlink:href="#dark_field"/>
        <use id="field_55" x="600" y="0" xlink:href="#light_field"/>
        <use id="field_56" x="700" y="700" xlink:href="#light_field"/>
        <use id="field_57" x="700" y="600" xlink:href="#dark_field"/>
        <use id="field_58" x="700" y="500" xlink:href="#light_field"/>
        <use id="field_59" x="700" y="400" xlink:href="#dark_field"/>
        <use id="field_60" x="700" y="300" xlink:href="#light_field"/>
        <use id="field_61" x="700" y="200" xlink:href="#dark_field"/>
        <use id="field_62" x="700" y="100" xlink:href="#light_field"/>
        <use id="field_63" x="700" y="0" xlink:href="#dark_field"/>
        <rect id="outline" x="0" y="0" width="800" height="800"/>
        <rect id="selected_field" visibility="hidden" x="0" y="0" width="100" height="100"/>
    </svg>
    <script type="text/javascript" src="scripts/chess.bundle.js"></script>
</body>
</html>
