extends ../templates/base

block head
  link(rel='stylesheet', href='/styles/play.css')
  link(rel='stylesheet', href='/styles/board.css')
  script(type='text/javascript', src='scripts/game.bundle.js')

block body
  .board-panel
    include ./board
  .side-panel
