$dark-field-color: #555;
$light-field-color: #FFF;
$select-highlight-color: #00F;

.field {
    stroke: none;
    &.dark {
        fill: $dark-field-color;
    }
    &.light {
        fill: $light-field-color;
    }
    &.selected {
        fill: $select-highlight-color;
    }
}

.outline {
    fill: none;
    stroke: $dark-field-color;
    stroke-width: 2;
}

.piece {
    // The original piece svg's are 45x45. This scales them up to 100x100
    transform: scale(100/45);
    pointer-events: none
}
