$dark-field-color: #555;
$light-field-color: #FFF;
$selection-highlight-color: #00F;
$move-highlight-color: #0F0;

.field {
    stroke: none;
    &.dark {
        fill: $dark-field-color
    }
    &.light {
        fill: $light-field-color
    }
    &.selectionHighlight {
        fill: $selection-highlight-color;
    }
    &.moveHighlight {
        fill: $move-highlight-color;
    }
}

.outline {
    fill: none;
    stroke: $dark-field-color;
    stroke-width: 2;
}
