extends ../templates/centercolumn

block onPageTitle
  | Common

block columnContent
  form.form-horizontal.clearfix(action='/profile/common', method='post')
    .form-group
      label.col-sm-3.control-label(for='displayName') Username
      .col-sm-9
        input#displayName.form-control(type='text', name='displayName', value=user.displayName, required, autofocus)
    .btn-toolbar.pull-right
      a.btn.btn-default(href='/profile') Cancel
      button.btn.btn-primary(type='submit') Save
