extends ../templates/centercolumn

block onPageTitle
  i.fa.fa-envelope-o
  |  Email login

block columnContent
  if message && message.length > 0
    .alert.alert-danger= message

  form.clearfix(action='/auth/enable-email', method='post')
    .form-group
      input.form-control(type='email', name='email', value=email, placeholder='Email', required, autofocus)
    .form-group
      input.form-control(type='password', name='password', placeholder='Password', required)
    .btn-toolbar.pull-right
      a.btn.btn-default(href='/profile') Cancel
      button.btn.btn-primary(type='submit') Enable
